pipeline/pl_project1.json
{
	"name": "pl_project1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(InsertDateTime) as MaxSource\n  FROM [dbo].[orders]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup_Target",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastReadDateandTime\n  FROM [META].[Watermark] where TableName='orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "DATA Movement",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT OrderID,ProductID,CustomerID,UnitPrice,Quantity,InsertDateTime FROM dbo.Orders\nWHERE\nInsertDateTime>'@{activity('Lookup_Target').output.firstRow.LastReadDateandTime}' AND\nInsertDateTime<='@{activity('Lookup_Source').output.firstRow.MaxSource}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "Updating WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Audit Success Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@{activity('Lookup_Source').output.firstRow.MaxSource}",
								"type": "Expression"
							}
						},
						"TableName": {
							"value": {
								"value": "orders",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Customer Full Load Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Updating WaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [MAIN].[Customers]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "Log Audit Success Details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DATA Movement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AUDIT].[UPDATE_AUDIT_INFO]",
					"storedProcedureParameters": {
						"ENDTIME": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"JOBNAME": {
							"value": "DeltaForSQLtoSQL",
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": {
								"value": "@activity('DATA Movement').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SOURCE_DATAPATH": {
							"value": {
								"value": "SQL_DBO_ORDERTABLE",
								"type": "Expression"
							},
							"type": "String"
						},
						"STARTTIME": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TARGET_COUNT": {
							"value": {
								"value": "@activity('DATA Movement').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TARGET_DATAPATH": {
							"value": {
								"value": "ORDERTABLE",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Log Audit_Fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DATA Movement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AUDIT].[UPDATE_AUDIT_INFO]",
					"storedProcedureParameters": {
						"ENDTIME": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"JOBNAME": {
							"value": "MovingDataFromCSVTOSQL",
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": {
								"value": "NA",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SOURCE_DATAPATH": {
							"value": {
								"value": "stg1container_INPUT_DATAFILES_Persons",
								"type": "Expression"
							},
							"type": "String"
						},
						"STARTTIME": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TARGET_COUNT": {
							"value": {
								"value": "NA",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TARGET_DATAPATH": {
							"value": "STG_PERSONS",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Data_Movement_Daily_Sales",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Audit Success Details_Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MAIN].[LOAD_DailySales]"
				}
			},
			{
				"name": "Log Audit Success Details_Customer",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Customer Full Load Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AUDIT].[UPDATE_AUDIT_INFO]",
					"storedProcedureParameters": {
						"ENDTIME": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"JOBNAME": {
							"value": "CustomerFullLoad",
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": {
								"value": "@activity('Customer Full Load Data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SOURCE_DATAPATH": {
							"value": {
								"value": "stg1container_INPUT_DATAFILES_Persons",
								"type": "Expression"
							},
							"type": "String"
						},
						"STARTTIME": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TARGET_COUNT": {
							"value": {
								"value": "@activity('Customer Full Load Data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TARGET_DATAPATH": {
							"value": "XYZ",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Log Audit_Fail_Customer",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Customer Full Load Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AUDIT].[UPDATE_AUDIT_INFO]",
					"storedProcedureParameters": {
						"ENDTIME": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"JOBNAME": {
							"value": "CustomerFullLoad",
							"type": "String"
						},
						"SOURCE_COUNT": {
							"value": {
								"value": "NA",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SOURCE_DATAPATH": {
							"value": {
								"value": "XYZ",
								"type": "Expression"
							},
							"type": "String"
						},
						"STARTTIME": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TARGET_COUNT": {
							"value": {
								"value": "NA",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TARGET_DATAPATH": {
							"value": "ABC",
							"type": "String"
						}
					}
				}
			}
		],
		"annotations": []
	}
}